/* Media queries for responsive design */

@media screen and (min-width: 768px) and (max-width: 992px)    /* responsive design for tablets */
{
    .button-text
    {
        margin: 0 10px 20px 0px;
    }
    
    .main-content
    {
        flex-direction: column;
    }

    #hotels
    {
        width: 100%;
    }

    .cards-hotels
    {
        justify-content: space-around;
    }

    #popular
    {
        width: 100%;
    }

    footer 
    {
        width: 100%;
        height: fit-content;
    }

    .footer-content
    {
        width: 100%;
        height: fit-content;
    }
}